# ===== CORE =====
numpy>=1.26.0
opencv-python>=4.9.0
pillow>=10.0.0

# ===== FACE DETECTION =====
mtcnn>=0.1.1

# ===== ARCFACE / INSIGHTFACE =====
insightface>=0.7.3
onnxruntime>=1.17.0

# ===== ML =====
scikit-learn>=1.4.0

# ===== API =====
fastapi>=0.110.0
uvicorn[standard]>=0.27.0

# ===== UTILS =====
tqdm>=4.66.0
